body {
    background-color: skyblue;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #343a40;
    padding-top: 20px;
    transition: 0.3s;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575d63;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Hamburger button */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
    color: black;
}

/* Message de bienvenue */
.welcome {
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
}

